.inviteButton {
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.activate {
  color: var(--sky);
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.inviteBox {
  display: flex;
  justify-content: center;
}

.imgContainer {
  width: 100%;
  height: auto;
  position: relative;
  aspect-ratio: 16/9;
  display: flex;
  justify-content: center;
  align-items: center;
}
