.fullScreenList {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* 배경색과 투명도 조절 */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001; /* 헤더보다 위에 표시되도록 z-index 설정 */
  ul {
    padding: 0;
    li {
      margin: 1rem 0;
      a {
        color: white;
        text-decoration: none;
        font-size: 2rem;
      }
    }
  }
}
